.notification {
    margin-top: 10px;
    margin-left: 20px;
    color: #002f34 !important;
}

:hover.notification {
    background-color: #2bcbddc7;
    transition: 1s;
    border-radius: 20px;
    padding: 1px 5px;
}

.head {
    display: flex;
    margin-left: -10px;
}

.picture {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 20px;
}

.DropOne {
    background-color: white !important;
}

.Menu {
    display: flex;
}

.proflie {
    width: 50px;
    height: 50px;
    border-radius: 30px !important;
}

.Name {
    margin-left: 5px;
}

h6 {
    margin-top: -10px !important;
}