.load {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.more {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: 2px solid #002f34;
    color: #002f34;
    font-weight: 700;
    font-size: 1.09em;
    box-sizing: border-box;
    border-radius: 4px;
    text-rendering: auto;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
}

:hover.more {
    border: #002f34 solid 5px;
}

:focus-within.more {
    background-color: #949b9c;
    color: #eaeeee;
}